* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: white;

    .bgNavegacion {
        background-color: black;
    }

    .mainIndex {
        .encabezadoIndex {
            height: 85vh;
            background-image: url(../assets/image/Patagonia-04.jpg);
            background-size: cover;
            background-position: bottom;
            color: white;
            font-weight: 900;

            .h1MainIndex {
                font-size: 6rem;
                padding-top: 300px;
            }

            .h2MainIndex {
                font-size: 4rem;
            }
        }

        .videoQuery {
            width: 1200px;
            height: 600px;
        }

        @media screen and (max-width: 1300px) {
            .videoQuery {
                width: 900px;
                height: 600px;
            }
        }

        @media screen and (max-width: 1000px) {
            .videoQuery{
                width: 600px;
                height: 300px;
            }            
        }

        .destinosIndex {
            .h3DestinosIndex {
                font-family: 'Milonga', serif;
            }

            .imgSize {
                width: 100%;
                height: 100%;
            }
        }
    }

    footer {
        background-color: black;
        color: white;
    }
}