* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 6rem;
    text-shadow: 2px 2px 2px black;
    color: white;
    font-weight: 900;
}

@media screen and (max-width: 600px),
screen and (max-height: 600px) {
    h1 {
        padding-top: 100px !important;
        font-size: 3em;
    }

}

h2 {
    font-size: 4rem;
}


h3 {
    font-family: 'Milonga', serif;
}

.btn-color {
    background-color: rgba(0, 195, 255, 0.882);
    color: white;
}

/*Index*/

body {
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: white;

    .bgNavegacion {
        background-image: url(../assets/image/Bandera-.png);
        background-size: contain;
    }

    main {
        .encabezadoIndex {
            height: 85vh;
            background-image: url(../assets/image/Patagonia-04.jpg);
            background-size: cover;
            background-position: bottom;

            .h1MainIndex {
                padding-top: 300px;
            }

            .h2MainIndex {
                color: white;
                text-shadow: 2px 2px 2px black;
            }

            @media screen and (max-width: 600px),
            screen and (max-height: 600px) {
                .h2MainIndex {
                    font-size: 2rem;
                }
            }
        }

        .videoQuery {
            width: 1200px;
            height: 600px;
        }

        @media screen and (max-height: 600px) {
            .videoQuery {
                width: 800px;
                height: 300px;
            }
        }

        @media screen and (max-width: 600px) {
            .videoQuery {
                width: 300px;
                height: 200px;
            }
        }

        .destinosIndex {

            .imgSize {
                width: 100%;
                height: 100%;
            }
        }
    }

    footer {
        background-color: black;
        color: white;
    }
}

/*Destinos*/

body {
    main {
        .encabezadoDestination {
            height: 60vh;
            background-image: url(../assets/image/Destination-h1.jpg);
            background-size: cover;
        }

        .h2MainDestination {
            font-family: 'Milonga', serif;
            background-image: url(../assets/image/Bandera-.png);
            background-size: contain;
        }
    }
}