/*Booking*/

.bodyBooking {
    .mainBooking {
        .encabezadoBooking {
            height: $valor-40vh;
            background-image: $background-img-booking;
            background-size: $background-cover;
        }

        @media screen and (max-width: $valor-768px) {
            .encabezadoBooking {
                height: $valor-20vh;
            }
        }
    }
}