$colores: (
    color-blanco: rgb(243, 240, 240),
    color-negro: rgb(15, 14, 14),
    color-celeste: rgb(123, 160, 216),
    color-azul: rgb(11, 80, 184),
    color-boton: rgb(230, 170, 102),
    color-boton-hover: rgb(196, 108, 8),
    color-transparente: #00000070
);