/*Destination*/

.bodyDestination {
    .mainDestination {
        .encabezadoDestination {
            height: $valor-60vh;
            background-image: $background-img-destination;
            background-size: $background-cover;
            background-position: $background-center;
        }

        .h2MainDestination {
            font-family: $font-secundaria;
            background-image: $background-img-bandera;
            background-size: $background-contain;
        }
    }
}