/*Index*/
.mainIndex {
    .encabezadoIndex {
        height: $valor-60vh;
        @include asignarImgBg($background-img-index, $background-cover);
        background-position: $background-center;

        .h1MainIndex {
            padding-top: $valor-200px;
        }

        .h2MainIndex {
            color: map-get($colores, color-blanco);
            text-shadow: $valor-2px $valor-2px $valor-2px map-get($colores, color-negro);
        }

        @media screen and (max-width: $valor-768px) {
            .h2MainIndex {
                font-size: $valor-fs-2rem;
            }
        }
    }

    .videoQuery {
        width: $valor-900px;
        height: $valor-500px;
    }

    @media screen and (max-width: $valor-768px) {
        .videoQuery {
            width: $valor-100p;
            height: $valor-100p;
        }
    }

    .widthCard{
        @include asignarWidth(18rem);
    }
}