/*Destinos*/

.mainDestinos {
    .encabezadoDestinos {
        height: $valor-60vh;
        @include asignarImgBg($background-img-destinos, cover);
        background-position: center;
    }

    @media screen and (max-width: $valor-768px) {
        .encabezadoDestinos {
            height: $valor-40vh;
            @include asignarImgBg($background-img-destinos-mobile, cover);
        }
    }

    .h2MainDestinos {
        font-family: $font-secundaria;
        @include asignarImgBg($background-img-bandera, contain);
    }
}