/*Index*/
.mainIndex {
    .encabezadoIndex {
        height: 80vh;
        @include asignarImgBg($background-img-index, cover);
        background-position: center;

        .h1MainIndex {
            padding-top: $valor-200px;
        }

        .h2MainIndex {
            color: map-get($colores, color-blanco);
            text-shadow: $valor-2px $valor-2px $valor-2px map-get($colores, color-negro);
        }
    }

    @media screen and (max-width: $valor-768px) {
        .encabezadoIndex {
            @include asignarImgBg($background-img-index-mobile, cover);
        }

        .h1MainIndex {
            padding-top: $valor-50px;
        }

        .h2MainIndex {
            font-size: $valor-fs-2rem;
        }

    }

    .videoQuery {
        width: $valor-900px;
        height: $valor-500px;
    }

    @media screen and (max-width: $valor-768px) {
        .videoQuery {
            width: $valor-100p;
            height: $valor-100p;
        }
    }

    .widthCard {
        @include asignarWidth($valor-fs-18rem);
    }
}