.mainIndex {
    .encabezadoIndex {
        height: $valor-85vh;
        background-image: $background-img-index;
        background-size: $background-cover;
        background-position: $background-bottom;

        .h1MainIndex {
            padding-top: $valor-200px;
        }

        .h2MainIndex {
            color: $color-blanco;
            text-shadow: $valor-2px $valor-2px $valor-2px $color-negro;
        }

        @media screen and (max-width: $valor-768px) {
            .h2MainIndex {
                font-size: $valor-fs-2rem;
            }
        }
    }

    .videoQuery {
        width: $valor-900px;
        height: $valor-500px;
    }

    @media screen and (max-width: $valor-768px) {
        .videoQuery {
            width: $valor-100p;
            height: $valor-100p;
        }
    }
}