body {
    @include asignarImgBg($background-img-fondo, cover);
    font-family: $font-principal;
    color: map-get($colores, color-negro);
    background-color: map-get($colores, color-blanco);

    .bgNavegacion {
        @include asignarImgBg($background-img-bandera, contain);

        .navbar-nav {
            .nav-link {
                color: map-get($colores, color-negro);

                &:hover {
                    color: map-get($colores, color-azul);
                }
            }
        }

        .subrayado {
            display: inline-block;
            position: relative;
        }

        .subrayado::after {
            content: '';
            position: absolute;
            width: $valor-100p;
            height: $valor-4px;
            bottom: $valor-0;
            left: $valor-0;
            background-color: map-get($colores, color-azul);
            transform: scalex($valor-0);
            transform-origin: bottom right;
            transition: transform $valor-0-6s ease-out;
        }

        .subrayado:hover::after {
            transform: scaleX($valor-1);
            transform-origin: bottom left;
        }
    }
}

@media screen and (max-width: $valor-768px) {
    body {
        @include asignarImgBg($background-img-fondo-mobile, cover);

        .bgNavegacion {
            @include asignarImgBg($background-img-bandera-mobile, cover);

            .textSize {
                font-size: $valor-fs-08rem;
            }
        }
    }
}


h1 {
    text-shadow: $valor-2px $valor-2px $valor-2px map-get($colores, color-negro);
    color: map-get($colores, color-blanco);
}

h3 {
    font-family: $font-secundaria;
}

.imgBg {
    @include asignarImgBg($background-img-fondo, contain);
}

@media screen and (max-width: $valor-768px) {
    .imgBg {
        @include asignarImgBg($background-img-fondo-mobile, cover);
    }
}

.m-6 {
    margin: $valor-fs-5rem;
}

@media screen and (max-width: $valor-768px) {
    .m-6 {
        margin: $valor-fs-2rem;
    }
}

@media (max-width: 767px) {
    .onlyMobile {
        display: block;
    }

    .onlyDesktop {
        display: none;
    }
}

@media (min-width: 768px) {
    .onlyMobile {
        display: none;
    }

    .onlyDesktop {
        display: block;
    }
}

.objectFC {
    @include asignarObjFit(cover);
}

.btnColor {
    @include asignarClrBtn(map-get($colores, color-negro), map-get($colores, color-boton), map-get($colores, color-boton));

    &:hover {
        @include asignarClrBtn(map-get($colores, color-negro), map-get($colores, color-boton-hover), map-get($colores, color-boton-hover));
    }
}

.animate__pulse {
    animation-iteration-count: infinite;
}

.widthForm {
    @include asignarWidth($valor-150px);
}

@media screen and (max-width: $valor-768px) {
    .widthForm {
        @include asignarWidth($valor-25p);
    }
}

.form-thumbnail {
    padding: $valor-8px;
    border: $valor-2px solid map-get($colores, color-negro);
    border-radius: $valor-fs-08rem;
    max-width: $valor-100p;
    height: auto;
  }

footer {
    background-color: map-get($colores, color-negro);
    color: map-get($colores, color-blanco);

    .fa-instagram {
        animation-delay: $valor-0s;
    }

    .fa-twitter {
        animation-delay: $valor-1s;
    }

    .fa-facebook {
        animation-delay: $valor-2s;
    }

    .logoAnimado {
        animation-name: flotar;
        animation-duration: $valor-3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
}