body {
    background-image: $background-img-fondo;
    background-size: $background-cover;
    font-family: $font-principal;
    color: map-get($colores, color-negro);
    background-color: map-get($colores, color-blanco);

    .bgNavegacion {
        background-image: $background-img-utilitarian;
        background-size: $background-contain;

        .navbar-nav .nav-link {
            color: map-get($colores, color-negro);

            &:hover {
                color: map-get($colores, color-azul);
            }
        }
    }

    @media screen and (max-width: $valor-768px) {
        .bgNavegacion {
            background-size: $background-cover;

            .textSize {
                font-size: $valor-fs-08rem;
            }
        }
    }
}


h1 {
    text-shadow: $valor-2px $valor-2px $valor-2px map-get($colores, color-negro);
    color: map-get($colores, color-blanco);
}

h3 {
    font-family: $font-secundaria;
}

.imgBg {
    @include asignarImgBg($background-img-fondo, $background-contain);
}

.m-6 {
    margin: 5rem;
}

@media screen and (max-width: $valor-768px) {
    .m-6 {
        margin: 2rem;
    }
}

.objectFC {
    @include asignarObjFit($object-cover);
}

.btnColor {
    @include asignarClrBtn(map-get($colores, color-negro),map-get($colores, color-boton), map-get($colores, color-boton));

    &:hover {
        @include asignarClrBtn(map-get($colores, color-negro), map-get($colores, color-boton-hover), map-get($colores, color-boton-hover));
    }
}

.widthForm {
    @include asignarWidth($valor-150px);
}

@media screen and (max-width: $valor-768px) {
    .widthForm {
        @include asignarWidth($valor-25p);
    }
}

footer {
    background-color: map-get($colores, color-negro);
    color: map-get($colores, color-blanco);
}