body {
    background-image: $background-img-fondo;
    background-size: $background-cover;
    font-family: $font-principal;
    color: $color-negro;
    background-color: $color-blanco;

    .bgNavegacion {
        background-image: $background-img-utilitarian;
        background-size: $background-contain;

        .navbar-nav .nav-link {
            color: $color-negro;

            &:hover {
                color: $color-azul;
            }
        }
    }

    @media screen and (max-width: $valor-768px) {
        .bgNavegacion {
            background-size: $background-cover;

            .textSize {
                font-size: $valor-fs-08rem;
            }
        }
    }
}


h1 {
    text-shadow: $valor-2px $valor-2px $valor-2px $color-negro;
    color: $color-blanco;
}

h3 {
    font-family: $font-secundaria;
}

.imgBg {
    background-image: $background-img-fondo;
    background-size: $background-contain;
}

.m-6 {
    margin: 5rem;
}

@media screen and (max-width: $valor-768px) {
    .m-6 {
        margin: 2rem;
    }
}

.objectFC {
    object-fit: $object-cover;
}

.btnColor {
    color: $color-negro;
    background-color: $color-boton;
    border-color: $color-boton;

    &:hover {
        color: $color-blanco;
        background-color: $color-boton-hover;
        border-color: $color-boton-hover;
    }
}

.widthForm {
    width: $valor-150px;
}

@media screen and (max-width: $valor-768px) {
    .widthForm {
        width: $valor-25p;
    }
}

footer {
    background-color: $color-negro;
    color: $color-blanco;
}