$font-principal: 'Poppins', sans-serif;
$font-secundaria: 'Milonga', serif;

$valor-minimo: 0;
$valor-2px: 2px;
$valor-100px: 100px;
$valor-150px: 150px;
$valor-200px: 200px;
$valor-450px: 450px;
$valor-500px: 500px;
$valor-768px: 768px;
$valor-900px: 900px;
$valor-20vh: 20vh;
$valor-40vh: 40vh;
$valor-60vh: 60vh;
$valor-85vh: 85vh;
$valor-25p: 25%;
$valor-100p: 100%;
$valor-fs-08rem: .8rem;
$valor-fs-2rem: 2rem;
$valor-fs-3rem: 3rem;
$valor-fs-6rem: 6rem;

$colores: (
    color-blanco: rgb(243, 240, 240),
    color-negro: rgb(15, 14, 14),
    color-azul: rgb(11, 80, 184),
    color-boton: rgb(230, 170, 102),
    color-boton-hover: rgb(196, 108, 8),
    color-transparente: #00000070
);

$object-cover :cover;
$background-cover: cover;
$background-contain: contain;
$background-center: center;
$background-bottom: bottom;
$background-img-bandera: url(../assets/imagenes/bandera.png);
$background-img-fondo: url(../assets/imagenes/fondo-beige-03.jpg);
$background-img-index: linear-gradient(to bottom, map-get($colores, color-transparente), map-get($colores, color-transparente)), url(../assets/imagenes/patagonia-04.jpg);
$background-img-reservas: url(../assets/imagenes/aeropuerto.jpg);
$background-img-destinos: url(../assets/imagenes/bariloche-06.jpg);
$background-img-utilitarian: url(../assets/imagenes/bandera.png);