$font-principal: 'Poppins', sans-serif;
$font-secundaria: 'Milonga', serif;

$valor-minimo: 0;
$valor-2px: 2px;
$valor-100px: 100px;
$valor-150px: 150px;
$valor-200px: 200px;
$valor-450px: 450px;
$valor-600px: 600px;
$valor-768px: 768px;
$valor-1200px: 1200;
$valor-20vh: 20vh;
$valor-40vh: 40vh;
$valor-60vh: 60vh;
$valor-85vh: 85vh;
$valor-25p: 25%;
$valor-100p: 100%;
$valor-fs-08rem: .8rem;
$valor-fs-2rem: 2rem;
$valor-fs-3rem: 3rem;
$valor-fs-6rem: 6rem;
$valor-fw-900: 900;


$color-blanco: rgb(243, 240, 240);
$color-negro: rgb(15, 14, 14);
$color-azul: rgb(11, 80, 184);
$color-celeste: rgba(0, 195, 255, 0.882);

$background-cover: cover;
$background-contain: contain;
$background-center: center;
$background-bottom: bottom;
$background-img-bandera: url(../assets/image/bandera.png);
$background-img-fondo: url(../assets/image/fondo-beige-03.jpg);
$background-img-index: url(../assets/image/patagonia-04.jpg);
$background-img-booking: url(../assets/image/aeropuerto.jpg);
$background-img-destination: url(../assets/image/bariloche-06.jpg);